body {
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#mainbox {
    width: 910px;
    height: 420px;
    overflow: hidden;
}

/*font*/
#font {
    position: absolute;
    top: 0;
    left: 0;
}

#font_b {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 16;
    opacity: 0;
}

    #font_c0 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 15;
    }

    #font_c1 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 14;
    }

/*s1*/
#s1 {
    position: absolute;
    top: 0;
    left: 0;
}

#s1_ny {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 13;
}

#s1_yearbox {
    position: absolute;
    width: 182px;
    height: 33px;
    top: 323px;
    left: 364px;
    z-index: 13;
    overflow: hidden;
}

    #s1_year {
        position: absolute;
    }

        #s1_year_p {
            position: absolute;
            top: -33px;
            left: 0;
            z-index: 13;
        }

#s1_bl {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 13;
}

    #s1_bl1 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 13;
    }

    #s1_bl2 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 13;
        display: none;
    }

#s1_bgbox {
    position: absolute;
    width: 910px;
    height: 420px;
    top: 0;
    left: 0;
    z-index: 12;
    overflow: hidden;
}
    #s1_bg1 {
        position: absolute;
        width: 910px;
        height: 70px;
        top: 0;
        left: 0;
        overflow: hidden;
    }
    #s1_bg1_p {
        position: absolute;
        top: 0;
        left: 0;
    }
    #s1_bg2 {
        position: absolute;
        width: 910px;
        height: 70px;
        top: 70px;
        left: 0;
        overflow: hidden;
    }
    #s1_bg2_p {
        position: absolute;
        top: -70px;
        left: 0;
    }
    #s1_bg3 {
        position: absolute;
        width: 910px;
        height: 70px;
        top: 140px;
        left: 0;
        overflow: hidden;
    }
    #s1_bg3_p {
        position: absolute;
        top: -140px;
        left: 0;
    }
    #s1_bg4 {
        position: absolute;
        width: 910px;
        height: 70px;
        top: 210px;
        left: 0;
        overflow: hidden;
    }
    #s1_bg4_p {
        position: absolute;
        top: -210px;
        left: 0;
    }
    #s1_bg5 {
        position: absolute;
        width: 910px;
        height: 70px;
        top: 280px;
        left: 0;
        overflow: hidden;
    }
    #s1_bg5_p {
        position: absolute;
        top: -280px;
        left: 0;
    }
    #s1_bg6 {
        position: absolute;
        width: 910px;
        height: 70px;
        top: 350px;
        left: 0;
        overflow: hidden;
    }
    #s1_bg6_p {
        position: absolute;
        top: -350px;
        left: 0;
    }

/*s2*/
#s2 {
    position: absolute;
    top: 0;
    left: 0;
}
    #s2_w{
        position: absolute;
        width: 910px;
        height: 420px;
        top: 0px;
        left: 0;
        opacity: 0;
        z-index: 11;
    }

#ny2{
    position: absolute;
    width: 910px;
    height: 90px;
    top: 0px;
    left: 0;
    z-index: 16;
    opacity: 0;
}

#br {
    position: relative;
    width: 250px;
    height: 170px;
    top: 250px;
    left: 910px;
    z-index: 14;
}

    #br1 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 14;
        display: block;
    }

    #br2 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 14;
        display: none;
    }
    #br3 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 14;
        display: none;
    }

#s2_bgbox {
    position: absolute;
    width: 910px;
    height: 420px;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
}
    #s2_bg1 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0;
        left: 0;
        overflow: hidden;
    }
    #s2_bg1_p {
        position: absolute;
        top: 0;
        left: 0;
    }
    #s2_bg2 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0px;
        left: 91px;
        overflow: hidden;
    }
    #s2_bg2_p {
        position: absolute;
        top: 0px;
        left: -91px;
    }
    #s2_bg3 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0px;
        left: 182px;
        overflow: hidden;
    }
    #s2_bg3_p {
        position: absolute;
        top: 0px;
        left: -182px;
    }
    #s2_bg4 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0px;
        left: 273px;
        overflow: hidden;
    }
    #s2_bg4_p {
        position: absolute;
        top: 0px;
        left: -273px;
    }
    #s2_bg5 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0px;
        left: 364px;
        overflow: hidden;
    }
    #s2_bg5_p {
        position: absolute;
        top: 0px;
        left: -364px;
    }
    #s2_bg6 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0;
        left: 455px;
        overflow: hidden;
    }
    #s2_bg6_p {
        position: absolute;
        top: 0;
        left: -455px;
    }
    #s2_bg7 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0;
        left: 546px;
        overflow: hidden;
    }
    #s2_bg7_p {
        position: absolute;
        top: 0;
        left: -546px;
    }
    #s2_bg8 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0;
        left: 637px;
        overflow: hidden;
    }
    #s2_bg8_p {
        position: absolute;
        top: 0;
        left: -637px;
    }
    #s2_bg9 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0;
        left: 728px;
        overflow: hidden;
    }
    #s2_bg9_p {
        position: absolute;
        top: 0;
        left: -728px;
    }
    #s2_bg10 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0;
        left: 819px;
        overflow: hidden;
    }
    #s2_bg10_p {
        position: absolute;
        top: 0;
        left: -819px;
    }

/*s3*/
#s3 {
    position: absolute;
    top: 0;
    left: 0;
}
    #s3_w{
        position: absolute;
        width: 910px;
        height: 420px;
        top: 0px;
        left: 0;
        opacity: 0;
        z-index: 10;
    }

#s3_bgbox {
    position: absolute;
    width: 910px;
    height: 420px;
    top: 0;
    left: 0;
    z-index: 9;
    overflow: hidden;
}
    #s3_bg1 {
        position: absolute;
        width: 910px;
        height: 70px;
        top: 0;
        left: 0;
        overflow: hidden;
    }
    #s3_bg1_p {
        position: absolute;
        top: 0;
        left: 0;
    }
    #s3_bg2 {
        position: absolute;
        width: 910px;
        height: 70px;
        top: 70px;
        left: 0;
        overflow: hidden;
    }
    #s3_bg2_p {
        position: absolute;
        top: -70px;
        left: 0;
    }
    #s3_bg3 {
        position: absolute;
        width: 910px;
        height: 70px;
        top: 140px;
        left: 0;
        overflow: hidden;
    }
    #s3_bg3_p {
        position: absolute;
        top: -140px;
        left: 0;
    }
    #s3_bg4 {
        position: absolute;
        width: 910px;
        height: 70px;
        top: 210px;
        left: 0;
        overflow: hidden;
    }
    #s3_bg4_p {
        position: absolute;
        top: -210px;
        left: 0;
    }
    #s3_bg5 {
        position: absolute;
        width: 910px;
        height: 70px;
        top: 280px;
        left: 0;
        overflow: hidden;
    }
    #s3_bg5_p {
        position: absolute;
        top: -280px;
        left: 0;
    }
    #s3_bg6 {
        position: absolute;
        width: 910px;
        height: 70px;
        top: 350px;
        left: 0;
        overflow: hidden;
    }
    #s3_bg6_p {
        position: absolute;
        top: -350px;
        left: 0;
    }

/*s4*/
#s4 {
    position: absolute;
    top: 0;
    left: 0;
}
    #s4_w{
        position: absolute;
        width: 910px;
        height: 420px;
        top: 0px;
        left: 0;
        opacity: 0;
        z-index: 9;
    }

#s4_bgbox {
    position: absolute;
    width: 910px;
    height: 420px;
    top: 0;
    left: 0;
    z-index: 8;
    overflow: hidden;
}
    #s4_bg1 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0;
        left: 0;
        overflow: hidden;
    }
    #s4_bg1_p {
        position: absolute;
        top: 0;
        left: 0;
    }
    #s4_bg2 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0px;
        left: 91px;
        overflow: hidden;
    }
    #s4_bg2_p {
        position: absolute;
        top: 0px;
        left: -91px;
    }
    #s4_bg3 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0px;
        left: 182px;
        overflow: hidden;
    }
    #s4_bg3_p {
        position: absolute;
        top: 0px;
        left: -182px;
    }
    #s4_bg4 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0px;
        left: 273px;
        overflow: hidden;
    }
    #s4_bg4_p {
        position: absolute;
        top: 0px;
        left: -273px;
    }
    #s4_bg5 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0px;
        left: 364px;
        overflow: hidden;
    }
    #s4_bg5_p {
        position: absolute;
        top: 0px;
        left: -364px;
    }
    #s4_bg6 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0;
        left: 455px;
        overflow: hidden;
    }
    #s4_bg6_p {
        position: absolute;
        top: 0;
        left: -455px;
    }
    #s4_bg7 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0;
        left: 546px;
        overflow: hidden;
    }
    #s4_bg7_p {
        position: absolute;
        top: 0;
        left: -546px;
    }
    #s4_bg8 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0;
        left: 637px;
        overflow: hidden;
    }
    #s4_bg8_p {
        position: absolute;
        top: 0;
        left: -637px;
    }
    #s4_bg9 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0;
        left: 728px;
        overflow: hidden;
    }
    #s4_bg9_p {
        position: absolute;
        top: 0;
        left: -728px;
    }
    #s4_bg10 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0;
        left: 819px;
        overflow: hidden;
    }
    #s4_bg10_p {
        position: absolute;
        top: 0;
        left: -819px;
    }

/*s5*/
#s5 {
    position: absolute;
    top: 0;
    left: 0;
}
    #s5_w{
        position: absolute;
        width: 910px;
        height: 420px;
        top: 0px;
        left: 0;
        opacity: 0;
        z-index: 7;
    }


#s5_bgbox {
    position: absolute;
    width: 910px;
    height: 420px;
    top: 0;
    left: 0;
    z-index: 6;
    overflow: hidden;
}
    #s5_bg1 {
        position: absolute;
        width: 910px;
        height: 70px;
        top: 0;
        left: 0;
        overflow: hidden;
    }
    #s5_bg1_p {
        position: absolute;
        top: 0;
        left: 0;
    }
    #s5_bg2 {
        position: absolute;
        width: 910px;
        height: 70px;
        top: 70px;
        left: 0;
        overflow: hidden;
    }
    #s5_bg2_p {
        position: absolute;
        top: -70px;
        left: 0;
    }
    #s5_bg3 {
        position: absolute;
        width: 910px;
        height: 70px;
        top: 140px;
        left: 0;
        overflow: hidden;
    }
    #s5_bg3_p {
        position: absolute;
        top: -140px;
        left: 0;
    }
    #s5_bg4 {
        position: absolute;
        width: 910px;
        height: 70px;
        top: 210px;
        left: 0;
        overflow: hidden;
    }
    #s5_bg4_p {
        position: absolute;
        top: -210px;
        left: 0;
    }
    #s5_bg5 {
        position: absolute;
        width: 910px;
        height: 70px;
        top: 280px;
        left: 0;
        overflow: hidden;
    }
    #s5_bg5_p {
        position: absolute;
        top: -280px;
        left: 0;
    }
    #s5_bg6 {
        position: absolute;
        width: 910px;
        height: 70px;
        top: 350px;
        left: 0;
        overflow: hidden;
    }
    #s5_bg6_p {
        position: absolute;
        top: -350px;
        left: 0;
    }

/*s6*/
#s6 {
    position: absolute;
    top: 0;
    left: 0;
}
    #s6_w{
        position: absolute;
        width: 910px;
        height: 420px;
        top: 0px;
        left: 0;
        opacity: 0;
        z-index: 5;
    }

#s6_bgbox {
    position: absolute;
    width: 910px;
    height: 420px;
    top: 0;
    left: 0;
    z-index: 4;
    overflow: hidden;
}
    #s6_bg1 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0;
        left: 0;
        overflow: hidden;
    }
    #s6_bg1_p {
        position: absolute;
        top: 0;
        left: 0;
    }
    #s6_bg2 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0px;
        left: 91px;
        overflow: hidden;
    }
    #s6_bg2_p {
        position: absolute;
        top: 0px;
        left: -91px;
    }
    #s6_bg3 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0px;
        left: 182px;
        overflow: hidden;
    }
    #s6_bg3_p {
        position: absolute;
        top: 0px;
        left: -182px;
    }
    #s6_bg4 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0px;
        left: 273px;
        overflow: hidden;
    }
    #s6_bg4_p {
        position: absolute;
        top: 0px;
        left: -273px;
    }
    #s6_bg5 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0px;
        left: 364px;
        overflow: hidden;
    }
    #s6_bg5_p {
        position: absolute;
        top: 0px;
        left: -364px;
    }
    #s6_bg6 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0;
        left: 455px;
        overflow: hidden;
    }
    #s6_bg6_p {
        position: absolute;
        top: 0;
        left: -455px;
    }
    #s6_bg7 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0;
        left: 546px;
        overflow: hidden;
    }
    #s6_bg7_p {
        position: absolute;
        top: 0;
        left: -546px;
    }
    #s6_bg8 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0;
        left: 637px;
        overflow: hidden;
    }
    #s6_bg8_p {
        position: absolute;
        top: 0;
        left: -637px;
    }
    #s6_bg9 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0;
        left: 728px;
        overflow: hidden;
    }
    #s6_bg9_p {
        position: absolute;
        top: 0;
        left: -728px;
    }
    #s6_bg10 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0;
        left: 819px;
        overflow: hidden;
    }
    #s6_bg10_p {
        position: absolute;
        top: 0;
        left: -819px;
    }


/*s7*/
#s7 {
    position: absolute;
    top: 0;
    left: 0;
}
    #s7_w{
        position: absolute;
        width: 910px;
        height: 420px;
        top: 0px;
        left: 0;
        opacity: 0;
        z-index: 3;
    }

#s7_bgbox {
    position: absolute;
    width: 910px;
    height: 420px;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
}
    #s7_bg1 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0;
        left: 0;
        overflow: hidden;
    }
    #s7_bg1_p {
        position: absolute;
        top: 0;
        left: 0;
    }
    #s7_bg2 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0px;
        left: 91px;
        overflow: hidden;
    }
    #s7_bg2_p {
        position: absolute;
        top: 0px;
        left: -91px;
    }
    #s7_bg3 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0px;
        left: 182px;
        overflow: hidden;
    }
    #s7_bg3_p {
        position: absolute;
        top: 0px;
        left: -182px;
    }
    #s7_bg4 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0px;
        left: 273px;
        overflow: hidden;
    }
    #s7_bg4_p {
        position: absolute;
        top: 0px;
        left: -273px;
    }
    #s7_bg5 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0px;
        left: 364px;
        overflow: hidden;
    }
    #s7_bg5_p {
        position: absolute;
        top: 0px;
        left: -364px;
    }
    #s7_bg6 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0;
        left: 455px;
        overflow: hidden;
    }
    #s7_bg6_p {
        position: absolute;
        top: 0;
        left: -455px;
    }
    #s7_bg7 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0;
        left: 546px;
        overflow: hidden;
    }
    #s7_bg7_p {
        position: absolute;
        top: 0;
        left: -546px;
    }
    #s7_bg8 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0;
        left: 637px;
        overflow: hidden;
    }
    #s7_bg8_p {
        position: absolute;
        top: 0;
        left: -637px;
    }
    #s7_bg9 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0;
        left: 728px;
        overflow: hidden;
    }
    #s7_bg9_p {
        position: absolute;
        top: 0;
        left: -728px;
    }
    #s7_bg10 {
        position: absolute;
        width: 91px;
        height: 420px;
        top: 0;
        left: 819px;
        overflow: hidden;
    }
    #s7_bg10_p {
        position: absolute;
        top: 0;
        left: -819px;
    }

/*hb*/
#hb {
    position: absolute;
    top: 0;
    left: 0;
    width: 910px;
    height: 420px;
    z-index: 13;
}
    #hb1{
        position: absolute;
        width: 910px;
        height: 420px;
        top: 0px;
        left: 0;
        display: none;
    }
    #hb2{
        position: absolute;
        width: 910px;
        height: 420px;
        top: 0px;
        left: 0;
        display: none;
    }
    #hb3{
        position: absolute;
        width: 910px;
        height: 420px;
        top: 0px;
        left: 0;
        display: none;
    }
    #hb4{
        position: absolute;
        width: 910px;
        height: 420px;
        top: 0px;
        left: 0;
        display: none;
    }
    #hb5{
        position: absolute;
        width: 910px;
        height: 420px;
        top: 0px;
        left: 0;
        display: none;
    }
