.gg-box {
  width: 100%;
  font-size: 62.5%;
  background-color: #eee; }
  .gg-box img, .gg-box a {
    display: block; }

.gg {
  background-color: #FFF;
  width: 94%;
  margin: 0 auto;
  border-radius: 15px;
  margin-top: 3%; }

.gg-title {
  width: 94%;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 2%; }
  .gg-title .gg-tag {
    width: 42px;
    text-align: center;
    margin-top: 3px;
    float: right;
    color: #e00000;
    font-size: 1.2em;
    padding: 0;
    border: 2px solid #e00000;
    border-radius: 5px;
    margin-left: 1.6%; }

.gg-img {
  width: 94%;
  margin: 2% auto;
  position: relative; }
  .gg-img img {
    width: 100%; }
  .gg-img .gg-discount {
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    color: #e00000;
    font-size: 2.6em;
    overflow: hidden;
    padding-left: 0.5em; }
    .gg-img .gg-discount > * {
      float: left; }
    .gg-img .gg-discount b {
      font-size: 1.5em; }

.gg-0 .gg-tag {
  color: #999;
  border: 2px solid #999; }
.gg-0 .gg-discount {
  font-size: 2em;
  line-height: 1.2;
  height: auto;
  padding: 2%; }
  .gg-0 .gg-discount b {
    font-size: 1em; }

.gg-line {
  background-color: #eee;
  margin: 0 auto; }
  .gg-line img {
    width: 100%; }

.gg-bottom {
  overflow: hidden;
  height: 100%;
  line-height: 50px; }
  .gg-bottom .gg-logo {
    float: left;
    margin-left: 4%; }
    .gg-bottom .gg-logo span {
      height: 50px;
      display: table-cell; }
      .gg-bottom .gg-logo span img {
        display: inline-block;
        vertical-align: middle; }
  .gg-bottom .gg-name {
    line-height: 400%;
    color: #000;
    float: right;
    font-size: 1em;
    margin-right: 3%; }

.fun{
/*margin-bottom: 7%;*/

}

    .fun-bigtitle{

      text-align: center;
      margin-top: 5%;
      margin-bottom: 4%;
    }

.gglawson{
height: 40px;

}
.ggmuji{

  height: 36px;
}


.ggbic {

  height: 35px;
  

}


.ggmatsumoto{

  height: 45px;
}

@media all and (max-width: 320px) {
  .gg-img .gg-discount {
    font-size: 1.8em; } 

.gg-title .gg-tag{

  font-size: 1.2em;


}


.ggtamashimaya{

height: 34px
}

.gglotte {

  height: 47px;
  

}

.ggmatsumoto{

  height: 36px;
}

.gglawson{
height: 35px;

}
.ggmuji{

  height: 36px;
}

.ggbic {

  height: 26px;
  

}
.gghot{

  height: 40px;
}

.ggbeauty{

height: 40px;

}

.ggtokyu{

height: 25px;

}

}




.fun-img {
  position: relative; }
  .fun-img img {
    width: 100%; }
  .fun-img .fun-discount {
    color: #FFF;
    background-color: #e00000;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2.2em;
    padding: 2% 3%; }
    .fun-img .fun-discount b {
      font-size: 1.5em; }
  .fun-img .fun-price {
    width: 100%;
    position: relative;
    height: 50px;
    line-height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    text-align: center; }
    .fun-img .fun-price div {
      display: inline-block;
      overflow: hidden; }
      .fun-img .fun-price div p {
        float: left; }
    .fun-img .fun-price p.b-jp {
      font-size: 1.3em;
      font-weight: 800; }
    .fun-img .fun-price p.r-arrow {
      color: #e00000;
      font-size: 1.5em;
      text-indent: 0.5em; }
    .fun-img .fun-price p.r-jp-1 {
      color: #e00000;
      font-size: 1.9em;
      text-indent: 0.3em;font-weight: 800; }
    .fun-img .fun-price p.r-jp-2 {
      color: #e00000;
      font-size: 1.6em;font-weight: 800; }

.fun-bottom {
  width: 94%;
  margin: 0 auto; }
  .fun-bottom .fun-title {
    font-size: 1.4em;
    font-weight: bold; }
  .fun-bottom ul li {
    height: 26px;
    line-height: 26px;
    font-size: 1.4em; }
    .fun-bottom ul li img {
      display: inline-block;
      height: 26px;
      vertical-align: middle;
      margin-right: 2%; }


/*# sourceMappingURL=gg.css.map */

.shop_p3 .gg-logo{
  width: 170px;
}
.shop_p4 .gg-logo{
  width: 170px;
}
.shop_p5 .gg-logo{
  width: 190px;
}
.shop_p6 .gg-logo{
  width: 150px;
}
.shop_p8 .gg-logo{
  width: 150px;
}
.shop_p9 .gg-logo{
  width: 170px;
}
.shop_p10 .gg-logo{
  width: 180px;
}










