 /*Global*/
body{
	margin: 0;
	padding: 0;
	font-family: Microsoft YaHei !important;
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}


*{
	margin: 0;
	padding: 0;
}


/*******************************************************************/


.t_1{
	font-size: 2.8em;
	line-height: 55px;
	letter-spacing: 6px;
	z-index: 2;
}
.t_2{
	font-size: 2.25em;
	line-height: 50px;
	letter-spacing: 5px;

	z-index: 2;

}
.t_3{
	font-size: 1.4em;
	line-height: 25px;
	letter-spacing: 2px;
	z-index: 2;

}
.t_4{
	font-size: 1.2em;
	line-height: 35px;
	letter-spacing: 3px;
	z-index: 2;
}



@media screen and (max-width:768px){
.t_1{
	font-size: 2.4em;
	line-height: 35px;
	letter-spacing: 6px;
	z-index: 2;
}
.t_2{
	font-size: 1.9em;
	line-height: 35px;
	letter-spacing: 5px;

	z-index: 2;

}
.t_3{
	font-size: 1.2em;
	line-height: 25px;
	letter-spacing: 2px;
	z-index: 2;

}
.t_4{
	font-size: 1.1em;
	line-height: 25px;
	letter-spacing: 3px;
	z-index: 2;
}


}


.blue{
	color: #0080cc;
}
.blue2{
	color: #1f8cbd;
}
.gray{
	color: #888888;
}
.gold{
	color: #b98b1a;
}
.clear{
	clear: both;
	width: 100%;
}
.dn{
	display: none!important;
}
.di{
	display: inline-block!important;
}


/*******************************************************************/
/*root*/
#root{
	width: 100%;
	position: relative;
	overflow-x: hidden;
}

/*roof*/
#roof{
	width: 100%;
	position: relative;
	overflow-x: hidden;
	color: #666666;
}


/*bar*/
#bar{
	width: 100%;
	height: 100px;
	font-size: 1.1em;
	line-height: 100px;
	color: #333333;
}

#head0{
	width: auto;
	float: left;
	margin-top: 20px;
	padding-left: 25px;
}

#bar_right{
	float: right;
	height: 100px;
}

#grids{
	float: left;
}

.grids{
	height: 100px;
	width: 120px;
	text-align: center;
	cursor: pointer;
	float: left;
}

#grid_0{
	background-color: #f2f0e6;
}

.blue_bg{
	background: #0080cc;
	color: white;

}

#login{
    height: 90px;
    width: 140px;
    text-align: center;
    display: inline-block;
    padding-top: 10px;
    padding-left: 14px;
    padding-right: 20px;
	cursor: pointer;

}

#menu_ox{
	display: none;	
	cursor: pointer;

}


/*sub_bar*/
#sub_bar{
	font-size: 1.1em;
	line-height: 100px;

	position: absolute;
	width: 100%;
	top: 100px;
	z-index: 1;
}

#sub_bar_1{
	display: none;
	position: absolute;
	width: 100%;
	height: 100px;
	top: 0px;
	text-align: center;
	color: white;
	z-index: 1;
}
#sub_bar_2{
	display: none;
	position: absolute;
	width: 100%;
	height: 100px;
	top: 0px;
	text-align: center;
	color: white;
	z-index: 1;
}
#sub_bar_3{
	display: none;
	position: absolute;
	width: 100%;
	height: 100px;
	top: 0px;
	text-align: center;
	color: white;
	z-index: 1;
}

#sub_bar_1 div,#sub_bar_2 div,#sub_bar_3 div{
	float: right;
}

.sub_bar_space{
	height: 100px;
	width: 120px;
	display: inline-block;
}


#menu{
	position: absolute;
	height: 100%;
	right: -150px;
	top: 0;
	cursor: pointer;

}

.menus{
	width: 150px;
	height: 40px;
	text-indent: 20px;
	font-size: 1em;
	line-height: 40px;
	letter-spacing: 0.5px;
	border-bottom: solid 1px #5ba6ea;
}
.blue_bg2{
	background: #5ba6ea;
	color: white;
	text-indent: 40px;

}
#menu_1ox,#menu_2ox,#menu_3ox{
	float: right;
	padding-right: 10px;

}
#menu_1_n{
	display: none;
}
#menu_2_n{
	display: none;
}
#menu_3_n{
	display: none;
}
@media screen and (max-width:1000px) and (min-width:768px){
#grids{
	display: none;
}

#login{
	height: 100px;
	width: 126px;
	text-align: center;
}


#menu{
	position: absolute;
	height: 100%;
	right: -250px;
	top: 0;
	cursor: pointer;

}

.menus{
	width: 250px;
	height: 40px;
	text-indent: 20px;
	font-size: 1em;
	line-height: 40px;
	letter-spacing: 0.5px;
	border-bottom: solid 1px #5ba6ea;
}

#menu_ox{
	display: inline-block;
	height: 100px;
	width: 126px;
	text-align: center;
}

#menu_o,#menu_x{
}

/*sub_bar*/
#sub_bar{
	display: none;
}

}



@media screen and (max-width:767px){
#bar{
	width: 100%;
	height: 65px;
}

#head0{
	position: relative;
	height: 32px;
	width: 172px;
	top: 15px;
	margin-top: 0%;
	margin-bottom:0%;
	padding-left: 5px;
}
#head0 img{
	float: left;
	width: 100%;
}
#grids{
	display: none;

}
#bar_right{
	height: 65px;
}
#login{
	height: 25px;
	width: 95px;
	text-align: center;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 2px;
    padding-bottom: 10px;
}
#login img{
	float: left;
	width: 100%;
}

#menu_ox {
	display: inline-block;
    height: 25px;
    width: 25px;
    padding-bottom: 11px;
    padding-left: 3px;
    padding-right: 12px;
}
#menu_ox img{
	float: left;
	width: 100%;
}

#o_menu,#x_menu{
	width: 100%;
}

/*sub_bar*/
#sub_bar{
	display: none;
}

}

/*******************************************************************/

/*main*/
#main{
	width: 100%;
	position: relative;
	top: 0px;
}

/*p1*/
#p1{
	width: 100%;
	height: 600px;
	background-color: #f6f6f2;
}
.p1_dn{
	display: none;
}

#p1_box{
	width: 900px;
	height: 450px;
	position: absolute;
	left: 50%;
	margin-left: -500px;
	margin-top: 50px;
	background: white;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 40px;
	letter-spacing: 0.5px;
}

.p1_form{
	width: 500px;
	position: relative;
	left: 50%;
	margin-left: -250px;
}

#p1_h{
	width: 100%;
	font-size: 24px;
	text-align: left;
	line-height: 30px;
	color: #0080cc;
}
#p1_step{
	width: 540px;
	height: 40px;
	position: relative;
	left: 50%;
	margin-left: -270px;
	margin-top: 10px;
	text-align: center;
	cursor: pointer;
	font-size: 18px;
	line-height: 30px;
}
#p1_step img{
	margin-bottom: -2px;
}
.p1_opc{
	opacity: 0.5;
}
#p1_step1{
	float: left;
	width: 33%;
	color: #0080cc;
	border-bottom: solid 2px #0080cc;
}

#p1_step2{
	float: left;
	width: 33%;
	color: #0080cc;
	border-bottom: solid 2px #0080cc;
}
#p1_step3{
	float: left;
	width: 33%;
	color: #0080cc;
	border-bottom: solid 2px #0080cc;
}
.p1_button{
	width: 305px;
	height: 39px;
	margin-left: 105px;
	margin-top: 27px;
	background-color: #0080cc;
	font-size: 18px;
	line-height: 39px;
	letter-spacing: 5px;
	color: white;
	border: none;
	cursor: pointer;
}

#p1a{

}
.p1a_p{
	width: 100px;
	text-align: center;
	display: inline-block;
}
#p1a_phone{
	height: 35px;
	width: 300px;
	margin-top: 20px;
}
.p1_bgr{
	background-color: #f5e6e6;
}
.db{
	display: block!important;
}
#warning1a{
	position: absolute;
	padding-left: 107px;
	font-size: 10px;
	color: red;
	display: none;
}
#warning1b{
	position: absolute;
	padding-left: 107px;
	font-size: 10px;
	color: red;
	display: none;
}
#warning2{
	position: absolute;
	padding-left: 107px;
	font-size: 10px;
	color: red;
	display: none;
}
#warning3{
	position: absolute;
	padding-left: 107px;
	font-size: 10px;
	color: red;
	display: none;
}
#warning4{
	position: absolute;
	padding-left: 107px;
	font-size: 10px;
	color: red;
	display: none;
}
#warning5{
	position: absolute;
	padding-left: 107px;
	font-size: 10px;
	color: red;
	display: none;
}
#p1a_vcode1{
	height: 35px;
	width: 200px;
	margin-top: 20px;
}
#p1a_vcode1_show{
	    width: 90px;
    height: 39px;
    background-color: #e3e3e3;
    margin-bottom: -15px;
    margin-left: 5px;
    display: inline-block;
}
#p1a_change{
	width: 410px;
	height: 20px;
	text-align: right;
	color: #0080cc;
	cursor: pointer;
	font-size: 12px;
	line-height: 20px;
}
#p1a_vcode2{
	height: 35px;
	width: 150px;
	margin-top: 0px;
}
#p1a_vcode2_get{
	width: 140px;
    height: 39px;
    background-color: #e3e3e3;
    margin-bottom: -15px;
    margin-left: 5px;
    display: inline-block;
    color: white;
	border: none;
	background-color: #9dcce7;
}
#p1b{}
.p1b_p{
	width: 100px;
	text-align: center;
	display: inline-block;
}
#p1b_password{
	height: 35px;
	width: 300px;
	margin-top: 20px;
}
#p1b_password_repeat{
	height: 35px;
	width: 300px;
	margin-top: 20px;
}
#p1c{}
#p1c_p{
	width: 500px;
	height: 150px;
	text-align: center;
	line-height: 150px;
}
@media screen and (max-width:1000px) and (min-width:768px){


#p1_box{
	width: 600px;
	height: 450px;
	position: absolute;
	left: 50%;
	margin-left: -350px;
	margin-top: 50px;
	background: white;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 40px;
	letter-spacing: 0.5px;
}
}



@media screen and (max-width:767px){

#p1_box{
	width: 320px;
	margin-left: -160px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 30px;
}

.p1_form{
	width: 310px;
	margin-left: -155px;
}
.p1a_p{
	width: 80px;
	text-align: center;
	display: inline-block;
}
#p1_h{
	font-size: 21px;
}
#p1_step{
	width: 300px;
	margin-left: -150px;
}
#p1_step1{
	width: 70%;
}
#p1_step2{
	width: 15%;

}
#p1_step3{
	width: 15%;

}
.p1_button{
	width: 205px;
	margin-left: 55px;
}

#p1a{

}
.p1_p{
	width: 100px;
	text-align: center;
	display: inline-block;
}
#p1a_phone{
	width: 200px;
}
#p1a_vcode1{
	width: 100px;
}
#p1a_vcode1_show{
	    width: 90px;
    height: 39px;
}
#p1a_change{
	width: 288px;
}
#p1a_vcode2{
	width: 90px;
}
#p1a_vcode2_get{
	width: 100px;
}
#p1b{}
.p1b_p{
	width: 100px;
	text-align: center;
	display: inline-block;
}
#p1b_password{
	width: 200px;
}
#p1b_password_repeat{
	width: 200px;
}
#p1c{}
#p1c_p{
	width: 300px;
	height: 100px;
	line-height: 100px;
}

}








/***********************************************************/
/*too short*/

/***********************************************************/
/*p8*/
#p8{
	width: 100%;
	padding-top: 40px;
	background-color: white;
}
#p8_h{
	width: 100%;
	text-align: center;
	font-size: 48px;
	letter-spacing: 4px;
	font-weight: 100;
	color: #0080cc;
	padding-top: 36px;
	padding-bottom: 30px;
}
#p8_grid{
	position: relative;
	width: 1000px;
	height: 450px;
	left: 50%;
	margin-left: -500px;
}
.p8_grid{
	width: 240px;
	height: 134px;
	float: left;
}
#p8_logo{
	position: relative;
	width: 800px;
	height: 100px;
	left: 50%;
	margin-left: -400px;
}
.p8_logo{
	width: 200px;
	height: 100px;
	float: left;
}
@media screen and (max-width:1000px) and (min-width:768px){
#p8{
	width: 100%;
	position: relative;
		padding-top: 36px;
	bottom: 0px;
}
#p8_h{
	width: 100%;
	text-align: center;
	font-size: 48px;
	letter-spacing: 4px;
	font-weight: 100;
	color: #0080cc;
	padding-top: 36px;
	padding-bottom: 30px;
}
#p8_grid{
	position: relative;
	width: 750px;
	height: 600px;
	left: 50%;
	margin-left: -375px;
}
.p8_grid{
	width: 240px;
	height: 134px;
	float: left;
}
#p8_logo{
	position: relative;
	width: 700px;
	height: 100px;
	left: 50%;
	margin-left: -350px;
}
.p8_logo{
	width: 175px;
	height: 100px;
	float: left;
}
}
@media screen and (max-width:767px){
.p8_ab{
	display: none;
}
#p8{
	width: 100%;
}
#p8_h{
	width: 100%;
	text-align: center;
	font-size: 38px;
	letter-spacing: 3px;
	font-weight: 100;
	color: #0080cc;
	padding-top: 36px;
	padding-bottom: 30px;
}
#p8_grid{
	position: relative;
	width: 320px;
	height: 300px;
	left: 50%;
	margin-left: -160px;
}
.p8_grid{
	width: 160px;
	height: 88px;
	float: left;
}
.p8_grid img{
	width: 100%;
}
#p8_logo{
	position: relative;
	width: 320px;
	height: 150px;
	left: 50%;
	margin-left: -150px;
}
.p8_logo{
	width: 160px;
	height: 80px;
	float: left;
}
}



/***********************************************************/
/*foot*/
#foot{
	width: 100%;
	background-color: #1289d0;
	color: white;
	position: relative;
	bottom: 0px;
}
#foot_a{
	position: relative;
	width: 1000px;
	height: 280px;
	padding-top: 50px;
	left: 50%;
	margin-left: -500px;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 1px;
}
#foot_a_logo{
	width: 175px;
	height: 180px;
	float: left;
}
#foot_a_list{
	width: 525px;
	height: 180px;
	float: left;
	cursor: pointer;

}
.foot_h{
	font-size: 18px;
}
.foot_num{
	font-size: 24px;
	margin-top: -5px;
	margin-bottom: 5px;
}
.foot_mail{
	font-size: ;
}
#foot_a_list1{
	width: 175px;
	height: 180px;
	float: left;
}
#foot_a_list2{
	width: 175px;
	height: 180px;
	float: left;
}
#foot_a_list3{
	width: 175px;
	height: 180px;
	float: left;
}
#foot_a_contect{
	width: 300px;
	height: 180px;
	float: left;
}
#foot_a_contect_p{
	float: left;
	width: 100px;
	height: 100px;
	background-color: white;
	margin-top: 10px;
}
#foot_a_contect_t{
	float: left;
	padding-left: 20px;
}
#foot_a_contect_t .foot_h{
	margin-top: -5px;
}
#foot_bar{
	width: 100%;
	height: 30px;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 30px;
	text-align: center;
}
@media screen and (max-width:1000px) and (min-width:768px){
#foot{
	position: absolute;
}
#foot_a{
	display: none;
}
}
@media screen and (max-width:767px){
	#foot_a{
	display: none;
}
}